Package: starkvengine
Version: 1.0.0
Section: utils
Priority: optional
#Essential: no
#Depends: no
#Suggests: no
Architecture: amd64
Installed-Size: 66666
Maintainer: support@stardbdata.com
Provides: sheng.guo
Homepage: http://starblaze.com
Description: Big Data Platform Designed and Optimized starblaze ssd.

